ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
          margin-bottom:0px;           
      }
      ul li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
/* html { background-color: lightgray;
    color: #a99e9e;
    background-image: url('../img/bkgd_image.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
} */
body { background-color: lightgray;
    /* color: #a99e9e; */
    background-image: url('../img/bkgd_image_subpages.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}
#main { background-color: lightgray;
    /* color: #a99e9e; */
    background-image: url('../img/bkgd_image.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.cover {
    background-image: url(../img/A10468-B%20slow-mag_yoga_static.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar { border-radius: 0px; font-family: 'Jura', sans-serif; margin-bottom: 0px;}
.wrapper_home {
    background-image: url(../img/A10468-B%20slow-mag_yoga_static.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    height:600px;
}
nav { padding:0px; }


nav.navbar-nav { height:0px; }
.navbar-inverse { background-color:#010203;}
#ipad {
    background-image: url('../img/iPad_Air_Mock_up.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.h1 { margin-bottom:30px; color:#010203;}

h4 { padding-bottom: .2em; margin-bottom:0px; }

.col-md-2 { padding-top:2em; padding-bottom: 1em; }
.col-md-10 { padding-top:0em; }

.thumbnail { margin-bottom:0px; }
@media screen and (min-width: 769px) {
    .col-md-10 { padding-top:0em; }
    h4 { padding-bottom: .5em; margin-bottom:0px; }
    .col-md-2 { padding-top:0px; padding-bottom: 2em;}
    .thumbnail { margin-bottom:20px; }
    a#resume>img:hover {
    border: 1px solid blue;
    opacity: .8;
    font-weight: bold;
    color: red;
    }
    a#resume:hover:after{
    content: 'Click to view or download pdf resume';
    border: 1px solid #cccccc;
    background-color: lightyellow;
    position: absolute;
    padding: 3px 8px;
    font-size: 1em;
    z-index: 9999;
    margin-left: 80%;
    margin-top: -93%;
    width: 200px;
    border-radius: 5px;
    }
    
}

@media screen and (max-width: 414px) {
    .thumbnail {
    margin-bottom:10px;
    }
}

div .row { margin-bottom: 20px;}
.logo {
    width:200px;
    height:120px;
    background-color:#000;
    font-family: 'Jura', sans-serif;
    color:#9d9d9d;
    font-size: 16px;
    padding:0 auto;
}
#accordion h3:hover {
    cursor: pointer;
}
#card {
    position: relative;
    width:200px; height: 500px;
    background-image: url('../img/profile.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 1px solid #010203;
    float:left;
    background-color: rgba(1, 44, 96, 0.5);
    color: #dedcdc;
}
.submenu {
    display: inline-block; }
.viewer {
    float:left;
    padding:10px;
    text-align: center;
    width:150px;
    height:600px;
}
.viewer img { margin-right:20px; margin-bottom: 20px; }
/* .viewer img:hover { opacity: 0.5; } */
.background{
background-color:rgba(201, 199, 199, 0.3);
}
.ipad {
    position:relative;
    width:100%;
    height:768px;
    background-image: url('../img/iPad-Air-Landscape.png');
    background-repeat:no-repeat;
    background-size:contain;
    display:block;

}
/* .pictureInPic{
    width:630px;
    height:440px;
    position:absolute;
    top:80px;left:106px;
    overflow: hidden;
    z-index: 999;
    background-size:contain;
} */
.pictureInPic{
    width: 890px;
    height: 620px;
    position: absolute;
    top: -20px;
    left: -20px;
    overflow: hidden;
    z-index: 999;
    background-size: contain;
}
.scale {
    -webkit-transform:scale(0.7);
    -moz-transform-scale:(0.7);
    transform: scale(0.7);
}

.display {
    /* height:30em; */
    background-color:rgba(201, 199, 199, 0.3);
    color:#9d9d9d;
    padding:1em;
    text-align: center;
}

.main_image{
    float:left;
}
.content_main{
    background-color:rgba(201, 199, 199, 0.3); 
    padding:.5em;
}
.btn-grad {background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
    color:#337ab7;
    color:black;
    border-radius: 5px;
}
.btn-grad:hover { background-position: right center;
}

a { color: #23527c;}
a:hover { color: #23527c;}

.fast_links {
    float:left;
    color:#fff;
    padding:20px;
    width:650px;
    height:500px;
    background-color:rgba(255,255,200, 0.1);
    line-height:2em;
}
.fast_links a {
    color:lightgray;
}

#sidebar_links {
    position:absolute;
    top:240px;
    padding-left:15px;
    line-height: 1.5em;
}
#sidebar_links li a:hover{
    text-decoration: none;

}

footer {
    width:100%;
    height: 65px;
    background: rgba(1,2,3,0.8);
    position: fixed;
    bottom:50px;
    color: #9d9d9d;;
    padding:1em;
    padding-left:200px;
    font-family: 'Jura', sans-serif;
    font-size: .9em;
    letter-spacing: .15em;
    line-height:1.7em;
}
/* ANGULAR WEB APP VIEWS */
.phones img {
    width: 100%;
    max-height:auto;
}
#blank {display:block; }
#scentennial {display:none; }
#fintech {display:none; }
#spring_wear {display:none; }
#comingsoon {display:none; }

/* ANGULAR WEB APP VIEWS */
.phones2 img {
    width: 100%;
    max-height:auto;
}
#blank2 { display:block;}
#ehr_view {display:none; }
#l620_view {display:none; }
#nsm_view {display:none; }
#l4s_view {display:none; }

/******************************************************************************

Responsive Mobile Phone Portrait

*******************************************************************************/
@media screen and (min-width:320px) and (orientation:Portrait){
    
    footer {
        bottom:10px;
        padding:.5em;
        padding-left:20px;
        font-size: .9em;
        letter-spacing: .15em;
        line-height:1.5em;
    }
    .content_main{
        background-color:rgba(201, 199, 199, 0.6); 
    }
    .background{
        background-color: rgba(1, 44, 96, 0.5);
    /* background-color:rgba(201, 199, 199, 0.3); */
    color:#9d9d9d;
    }
    .display img {
        width: 80%; height:80%;
    }
    .ipad {
        position:relative;
        width:100%;
        height:768px;
        background-image: url('../img/iPad-Air-Portrait.png');
        background-repeat:no-repeat;
        background-size:contain;
        display:block;
    
    }
    .pictureInPic{
        width: 360px;
        height: 420px;
        position: absolute;
        top: 20px;
        left: -10px;
        overflow: hidden;
        z-index: 999;
        background-size: contain;
    }
    


}

/******************************************************************************

Responsive Mobile Phone Landscape

*******************************************************************************/
@media screen and (min-width:321px) and (max-width:667px) and (orientation:landscape) {
    #card {
        position: relative;
        width:200px; height: 320px;
        background-size: 140px;
        background-position-x: 20px;
    }
    #sidebar_links {
        position: absolute;
        top: 150px;
        padding-left: 15px;
        line-height: 1.5em;
        font-size:.9em;
    }
    .viewer { 
        width: 440px;
        text-align: left;
        height:auto;

    }
    .viewer img { 
        margin-right:0px; margin-bottom: 0px;
        margin-top:20px;
        float:left;
    }
    .main_image{
        float:left;
    }
    .main_image img{
        width:20em; height:20em;
    }
    .content_main{
        background-color:rgba(201, 199, 199, 0.7); 
    }
    footer {
        height: 30px;
        position: fixed;
        bottom: 10px;
        color: #9d9d9d;;
        padding: 0px;
        padding-left: 30px;
        letter-spacing: .15em;
        line-height:30px;
        font-size: .9em;
    }
    .ipad {
        position:relative;
        width:100%;
        height:768px;
        background-image: url('../img/iPad-Air-Portrait.png');
        background-repeat:no-repeat;
        background-size:contain;
        display:block;
    
    }
    .pictureInPic{
        width: 600px;
        height: 620px;
        position: absolute;
        top: 20px;
        left: -10px;
        overflow: hidden;
        z-index: 999;
        background-size: contain;
    }
    
    
}

