
.learnMore_btn {
    position:absolute;
    right: 23px;
}

#dateline-content-today .today-references li{
    color:white;
    
}
#dateline-content-today .today-references h3{
    color:#404041;
}

@font-face {
    font-family:HelveticaNeue MediumCond ;
    src: url(../fonts/HelveticaNeue-MediumCond);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'), url(../fonts/HelveticaNeue-MediumCond) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format('truetype'), url(../fonts/HelveticaNeue-MediumCond) format('svg');
    font-weight: 400;
    font-style: normal;
}
