/**********************************

TABLE OF CONTENTS

Global content
Font Usage
Color Styles
1.0 Betadine Home
2.0 Consumer Home
2.1 What is Betadine?
2.2 Consumer Products
2.3 Learning Center
2.4 Build Your First Aid Kit
2.5 Frequently Asked Questions
2.6 Where to Buy
3.0 Healthcare Professional Home
3.1 The Science of Betadine
3.2 Professional Products
3.3 Clinical Use
3.4 News & Resources
3.5 Frequently Asked Questions
3.6 Purchasing
4.0 Medical Supply Dealers
4.1 About Betadine
4.2 Product Specification Sheets
4.3 Material Safety Data Sheets
5.0 Contact Us
6.0 Register
6.1 Registration Confirmation
7.0 Unsubscribe
7.1 Unsubscribe Confirmation
8.0 Share Via Email
8.1 Email Confirmation
9.0 Share Via Twitter
9.1 Twitter Autofill
10.0 Terms of Use
11.0 Privacy Policy
12.0 Sitemap
404 Error Message
Leaving this site interstitial

*************************************************/


/**********************************

FONT USAGE
*************************************************/

@import url("../webfonts/pillgothic600mg_boldobliq/stylesheet.css");
@import url("../webfonts/pillgothic600mg_bold/stylesheet.css");
@import url("../webfonts/pillgothic600mg_regular/stylesheet.css");

/********************************

COLOR STYLE GUIDES
-------------------
DARK BLUE = #039
RED COLOR = #bd202e
DARK RED = #8c0408
LIGHT GREEN = #82bda0
DARK GREEN = #1f7346
LIGHT BROWN = #a38a68
DARK BROWN = #3c2a12
LIGHT BLUE = #e1f4fd
GREY TEXT BODY = #4d4d4f
CAPTION GREY = #9b9b9b


***********************************************/



/**********************************

BETADINE HOME (HOME PAGE)
*************************************************/

*{ margin:0px; padding:0px;	}

body{font-family:"pillgothic600mg regular"; width:100%; line-height:1.3em;}
h1, h2, h3, h4, h5, h6 { font-family:"pillgothic600mg bold"; line-height:1.5em; padding-bottom:1em; }
h1{ font-size:1.7em; }
h2{ font-size:1.5em; }
h3{ font-size:1.3em; font-family:"pillgothic600mg bold"; line-height:1.2em; color:#8c0408; }
h4{ font-size:1em;  line-height:1.3em; }
h5{ font-size:1em; }
h6{ font-size:.8em; }

p{ font-size:.9em; }
sup, sub { line-height:0px; font-size:.7em; }
a{ color:#8c0408;} a:hover{text-decoration:underline;}
h4 a {text-decoration:none; } h4 a:hover{ text-decoration:underline;}
li { font-size:1em;}
/*a:visited {
	color: inherit;
}*/

#wrapper{
/*margin:0px auto;*/
/*width:320px;*/
width:100%;
height:auto;
/*background-color:#e1f4fd;*/	
}

header{
width:100%;
height:80px;
background-color:white;
display:block;
z-index:2;
position:fixed;
}
#headerHome{
width:100%;
height:90px;
background-color:white;
display:block;
z-index:2;
position:absolute;
float:left;		
}
#betadine{
width:150px;
height:50px;
background-image:url(../images/betadine_logo_150px.png);
background-repeat:no-repeat;
background-position:center;
margin-left:15px;
line-height:50px;
float:left;
}
#betadine a{
display:block;
text-indent:-9999px;
cursor:pointer;	
}
#bottlesNav1{

}
#bottlesNav1 li{
float:left;
list-style-type:none;
margin-left:15px;
margin-top:0px;
height:50px;
text-indent:-9999px;
overflow:hidden;
}
nav{
	width:100%;
	clear:both;	
}
#consumerNav1 {
font-family:"pillgothic600mg boldobliq";
width:30px;
height:90px;
background-image:url(../images/mobile_consumer_bottle_nav.png);
background-repeat:no-repeat;
}
#consumerNav1 img{

}
#consumerNav1 img a{
display:none;
}
#hcpNav1 {
width:30px;
height:90px;
background-image:url(../images/mobile_hcp_bottle_nav.png);
background-repeat:no-repeat;
}
#dealerNav1{
width:40px;
height:90px;
background-image:url(../images/mobile_dealer_bottle_nav.png);
background-repeat:no-repeat;
padding-left:0px;
}
#bottlesNav{

}
#bottlesNav li{
float:left;
list-style-type:none;
margin-left:10px;
margin-top:0px;
height:50px;
text-indent:0px;
overflow:hidden;
}
#consumerNav {
font-family:"pillgothic600mg boldobliq";
font-size:.7em;
width:140px;
height:90px;
background-image:url(../images/mobile_consumer_bottle_nav.png);
background-repeat:no-repeat;
}
#consumerNav a{
	color:#039;
	line-height:50px;
	padding-left:30px;
	text-decoration:none;
}
#consumerNav img{

}
#consumerNav img a{
display:none;
}
#hcpNav {
font-family:"pillgothic600mg boldobliq";
font-size:.7em;
width:140px;
height:50px;
background-image:url(../images/mobile_hcp_bottle_nav.png);
background-repeat:no-repeat;
}
#hcpNav a{
	color: #1f7346;
	line-height:50px;
	padding-left:30px;
	text-decoration:none;
}
#dealerNav{
font-family:"pillgothic600mg boldobliq";
font-size:.7em;
width:130px;
height:90px;
background-image:url(../images/mobile_dealer_bottle_nav.png);
background-repeat:no-repeat;
padding-left:0px;
}
#dealerNav a{
	color:#3c2a12;
	line-height:50px;
	padding-left:40px;
	text-decoration:none;
}
#vertNav{
display: none;
}
#mainNav{
background-color:#bd202e;
height:auto;
color:white;
line-height:40px;
font-size:1.1em;
text-indent:15px;
clear:both;
list-style-type:none;
display:block;
}
#mainNav li{
display:none;
border-bottom:1px solid #333;
}
#mainNav li:nth-child(1){
border-top:1px solid #333;
}
#mainNav li a{
font-family:"pillgothic600mg regular";
color:white;
text-decoration:none;
height:auto;
background-color:#bd202e;	
padding-left:30px;
display:block;
}
a.blank{
background-image:url(../images/plus-white.png);
background-repeat:no-repeat;
background-size:20px;
background-position:15px center;
display:block;
color:white;
background-color:#bd202e;
height:40px;
line-height:40px;
padding-left:15px;
clear:both;
width:100%;
}
a.blankMinus{
background-image:url(../images/minus-white.png);
background-repeat:no-repeat;
background-size:20px;
background-position:15px center;
display:block;
color:white;
background-color:#bd202e;
height:40px;
line-height:40px;
padding-left:15px;
clear:both;
}
#wrapArticle{
	width:100%;
    /*margin:auto;*/
    color:#4d4d4f;
	z-index:1;
	
}
#splash{
width:100%;
height:469px;
background-image:url(../images/Consumer_MomDaughter_320x469.jpg);
background-repeat:no-repeat;
background-position: 0 30px;
float:left;	
z-index:1;
}
.caption{
font-family: "pillgothic600mg boldobliq";
font-size: 1.3em;
color: #9b9b9b;
text-shadow: 1px 1px 1px #000000;
position: absolute;
margin-top: 210px;
margin-left: 40px;
}
#largeBottle{
background-image:url(../images/mobile_consumer_bottle_large_180pxHeight.png);
background-repeat:no-repeat;
width:85px;
height:180px;
float:right;
margin-top:310px;
margin-right:3px;
}
#splashMain{
width:100%;
height:469px;
background-image:url(../images/Consumer_MomDaughter_320x469.jpg);
background-repeat:no-repeat;
    background-position: 0px 30px;
float:left;	
z-index:1;
}
.captionMain{
font-family: "pillgothic600mg boldobliq";
font-size: 1.4em;
color: white;
text-shadow: 2px 2px 1px #1f030a;
position: absolute;
margin-top: 250px;
margin-left: 15px;
}
#largeBottleMain{
background-image:url(../images/mobile_consumer_bottle_large_396pxHeight.png);
	background-repeat:no-repeat;
	width:170px;
	height:396px;
	float:right;
	top:320px;
	right:70px;
    position:absolute;
    z-index: 4;
}
footer{
width:100%;
height:auto;
background-color:transparent;
bottom:0px;
z-index:2;
font-size:.75em;
clear:both;
line-height:1.5em;
color:#515050;
padding:10px;
}
footer a{
color:#515050;
text-decoration:none;
}
footer a:hover{
color:black;
}
#purdue{
background-image:url(../images/purdue_logo.png);
background-repeat:no-repeat;
float:left;
width:46px;
height:40px;
display:block;
overflow:hidden;	
}#purdue a{
text-indent:-9999px;
display:block;
}

/**********************************

2.0 CONSUMER HOME
*************************************************/
#showLeftPush{
background-color:#69F;
-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
width:30px;
height:30px;
cursor:pointer;
float:left;
margin-top:190px;
padding:0px;
line-height:40px;
text-align:center;
-webkit-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);

background: #1e5799; /* Old browsers */

background: -moz-linear-gradient(left, #1e5799 0%, #7db9e8 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* IE10+ */

background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */


}
#showLeftPush a{
text-decoration:none;
}
#navside{
list-style-type:none;
}
#navside li{
font-family:"pillgothic600mg regular";
height:40px;
margin-bottom:10px;
border-bottom:thin solid white;
width:92%;
line-height:35px;	
}
#navside a{
text-decoration:none;
color:white;
}
#navside a:hover{
text-decoration:none;
color:#bd202e;
}
#search{
height:50px;
background-color:#039;
width:110%;
margin-left:-10px;
padding-right:0px;
text-indent:50px;
line-height:50px;
color:white;
background-image:url(../images/searchicon.png);
background-repeat:no-repeat;	
}
.retail{
text-decoration:none;
list-style-type:none;
padding:10px 0px;
text-align:left;
display:block;
}
.retail li{
margin-bottom:25px;
text-align:left;	
}

/**********************************

2.1 WHAT IS BETADINE?
*************************************************/


.wrap{
/*width:280px;*/
width:100%;
height:auto;
padding:20px;
/*clear:both;*/
background-color:#e1f4fd;	
}

.wrap ul{
padding-left:20px;
line-height:1.5em;
    color:#039;
}
.wrap ol {
margin-left:20px;
line-height:1.5em;
    color:#039;
}


.wrapHCP{
width:280px;
height:auto;
padding:20px;
clear:both;
background-color:#82bda0;	
}
.wrapHCP ul{
margin-left:20px;
line-height:1.5em;
color:#1f7346;
}
.wrapMSD{
width:280px;
height:auto;
padding:20px;
clear:both;
background-color:#a38a68;	
}
.wrapMSD ul{
    margin-left:20px;
line-height:1.5em;
    color:#3c2a12;
}

/**********************************

3.0 HEALTHCARE PROFESSIONAL HOME
*************************************************/



#mainNav li{
/*border-bottom:2px solid #333;*/
display:none;
border-bottom:1px solid #333;
}
#mainNav li:nth-child(1){
border-top:1px solid #333;
}
#mainNav li a{
color:white;
text-decoration:none;
height:auto;
background-color:#bd202e;	
padding-left:30px;
}
a.blank{
display:block;
color:white;
text-decoration:none;
background-color:#bd202e;
height:40px;
line-height:40px;
font-size:2em;
padding-left:15px;
clear:both;
font-family:"pillgothic600mg bold";
    z-index: 2;
}
#splashHCP{
width:100%;
height:469px;
background-image:url(../images/HCP_Surgeons_320x469.jpg);
background-repeat:no-repeat;
float:left;	
z-index:1;
}
.captionHCP{
font-family: "pillgothic600mg boldobliq";
font-size: 1.4em;
color: white;
text-shadow: 2px 2px 1px #1f030a;
position: absolute;
margin-top: 215px;
margin-left: 90px;
}
#largeBottleHCP{
background-image:url(../images/mobile_hcp_bottle_large.png);
background-repeat:no-repeat;
background-size:90%;
width:85px;
height:190px;
float:right;
margin-top:320px;
margin-right:3px;
}
#splashHCPMain{
width:100%;
height:469px;
background-image:url(../images/HCP_Surgeons_320x469.jpg);
background-repeat:no-repeat;
float:left;	
z-index:1;
}
.captionHCPMain{
font-family: "pillgothic600mg boldobliq";
font-size: 1.4em;
color: white;
text-shadow: 2px 2px 1px #1f030a;
position: absolute;
margin-top: 175px;
margin-left: 80px;
}
#largeBottleHCPMain{
background-image:url(../images/mobile_hcp_bottle_large.png);
background-repeat:no-repeat;
background-size:90%;
width:85px;
height:190px;
float:right;
margin-top:320px;
margin-right:3px;
}
#showLeftPushHCP{
/*background-image:url(../images/bullets-green.png);
background-repeat: no-repeat;*/
/*background-color:#e1f4fd;*/ /*LIGHT BLUE BACKGROUND*/
background-color:#82bda0;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
width:30px;
height:30px;
cursor:pointer;
float:left;
margin-top:200px;
padding:0px;
line-height:40px;
text-align:center;
-webkit-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);

background: #82bda0; /* Old browsers */

background: -moz-linear-gradient(left, #1f7346 0%, #82bda0 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1f7346), color-stop(100%,#82bda0)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left, #1f7346 0%,#82bda0 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left, #1f7346 0%,#82bda0 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left, #1f7346 0%,#82bda0 100%); /* IE10+ */

background: linear-gradient(to right, #1f7346 0%,#82bda0 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f7346', endColorstr='#82bda0',GradientType=1 ); /* IE6-9 */


}
#showLeftPushHCP a{
text-decoration:none;
}
#navsideHCP{
list-style-type:none;
}
#navsideHCP li{
font-family:"pillgothic600mg regular";
height:40px;
margin-bottom:10px;
border-bottom:thin solid white;
width:90%;
line-height:35px;	
}
#navsideHCP li:nth-child(1){
height:40px;
line-height:17px;
padding-top:5px;
}
#navsideHCP li:nth-child(2){
height:40px;
line-height:17px;
}
#navsideHCP li:nth-child(4){
height:40px;
line-height:17px;
}
#navsideHCP a{
text-decoration:none;
color:white;
}
#navsideHCP a:hover{
text-decoration:none;
color:#bd202e;
}
#searchHCP{
height:50px;
background-color:#1f7346;
width:110%;
border:none;
margin-top:0px;
margin-left:-10px;
padding-right:0px;
text-indent:40px;
line-height:60px;
color:white;
background-image:url(../images/searchicon.png);
background-repeat:no-repeat;
background-size:auto;
}
footerHCP{
width:70%;
height:auto;
background-color:white;
bottom:0px;
z-index:2;
font-size:.5em;
padding:4px;
padding-left:5px;
clear:both;
line-height:1.5em;
color:#515050;
}
footerHCP a{
color:#515050;
text-decoration:none;
}
footer a:hover{
color:black;
}
#purdueHCP{
background-image:url(../images/purdue_logo.png);
background-repeat:no-repeat;
float:left;
width:46px;
height:40px;
display:block;
overflow:hidden;	
}
#purdueHCP a{
text-indent:-9999px;
display:block;
}

/**********************************

4.0 MEDICAL SUPPLY DEALERS HOME
*************************************************/

#vertNavHCP{
display: none;
}
#vertNavMSD{
display: none;
}
#mainNav{
background-color:#bd202e;
height:auto;
color:white;
line-height:40px;
font-size:1.1em;
text-indent:15px;
clear:both;
list-style-type:none;
display:block;
}
#mainNav li{
/*border-bottom:2px solid #333;*/
display:none;
border-bottom:1px solid #333;
}
#mainNav li:nth-child(1){
border-top:1px solid #333;
}
#mainNav li a{
color:white;
text-decoration:none;
height:auto;
background-color:#bd202e;	
padding-left:30px;
}
a.blank{
display:block;
color:white;
text-decoration:none;
background-color:#bd202e;
height:40px;
line-height:40px;
font-size:2em;
padding-left:15px;
clear:both;
font-family:"pillgothic600mg bold";
}
#splashMSD{
width:100%;
height:469px;
background-image:url(../images/Dealer_Surgery_320x469.jpg);
background-repeat:no-repeat;
float:left;	
z-index:1;
}
.captionMSD{
font-family: "pillgothic600mg boldobliq";
font-size: 1.4em;
color: white;
text-shadow: 2px 2px 1px #1f030a;
position: absolute;
margin-top: 295px;
margin-left: 50px;
}
.captionMSDMain{
	font-family: "pillgothic600mg boldobliq";
	font-size: 1.4em;
	color: white;
	text-shadow: 3px 3.5px 2px #1f030a;
	position: absolute;
	margin-top: 295px;
	margin-left:40px;
}
#largeBottleMSD{
background-image:url(../images/mobile_dealer_bottle_large_176pxHeight.png);
background-repeat:no-repeat;
width:108px;
height:200px;
float:right;
margin-top:300px;
margin-right:10px;
}
#showLeftPushMSD{
background-color:#a38a68;
-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	background-image:url(../images/carat-r-white.png);
	background-repeat:no-repeat;
width:30px;
height:30px;
cursor:pointer;
float:left;
margin-top:150px;
padding:0px;
line-height:40px;
text-align:center;
-webkit-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);

background: #a38a68; /* Old browsers */

background: -moz-linear-gradient(left, #3c2a12 0%, #a38a68 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3c2a12), color-stop(100%,#a38a68)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left, #3c2a12 0%,#a38a68 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left, #3c2a12 0%,#a38a68 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left, #3c2a12 0%,#a38a68 100%); /* IE10+ */

background: linear-gradient(to right, #3c2a12 0%,#a38a68 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c2a12', endColorstr='#a38a68',GradientType=1 ); /* IE6-9 */
}
#showLeftPushMSD a{
text-decoration:none;
}
#navsideMSD{
list-style-type:none;
}
#navsideMSD li{
font-family:"pillgothic600mg regular";
height:40px;
margin-bottom:10px;
border-bottom:thin solid white;
width:90%;
line-height:35px;	
}
#navsideMSD li:nth-child(1){
height:40px;
line-height:40px;
padding-top:5px;
}
#navsideMSD li:nth-child(2){
height:50px;
line-height:20px;
}
#navsideMSD li:nth-child(3){
height:50px;
line-height:20px;
}
#navsideMSD a{
text-decoration:none;
color:white;
}
#navsideMSD a:hover{
text-decoration:none;
color:#bd202e;
}
#searchMSD{
height:50px;
background-color:#3c2a12;
width:110%;
margin-left:-10px;
padding-right:0px;
text-indent:50px;
line-height:50px;
color:white;
background-image:url(../images/searchicon.png);
background-repeat:no-repeat;		
}

#subNavConsumers{
display:none;	
}
#subNavHCP{
display:none;	
}
#subNavMSD{
	display:none;	
}
footerMSD{
width:70%;
height:auto;
background-color:white;
bottom:0px;
z-index:2;
font-size:.5em;
padding:4px;
padding-left:5px;
clear:both;
line-height:1.5em;
color:#515050;
}
footerMSD a{
color:#515050;
text-decoration:none;
}
footer a:hover{
color:black;
}
#purdueMSD{
background-image:url(../images/purdue_logo.png);
background-repeat:no-repeat;
float:left;
width:46px;
height:40px;
display:block;
overflow:hidden;	
}
#purdueMSD a{
text-indent:-9999px;
display:block;
}

@-webkit-keyframes splash{
 
 from{-webkit-transform: translateY(0px);}
 to{-webkit-transform: translateY(-30px);}

}

@-moz-keyframes splash{

 from{-moz-transform:translateY(0px);}
 to{-moz-transform:translateY(-30px);}
}

@keyframes splash{

 from{transform:translateY(0px);}
 to{transform:translateY(-30px);}
}

.splashAnimation{
 	-webkit-animation-name:splash;
 	-webkit-animation-duration:.5s;
 	-webkit-animation-timing-function:ease-out;
 	-webkit-animation-iteration-count:1;
 	-webkit-animation-delay:.5s;
	-webkit-animation-fill-mode:forwards;
	
	-moz-animation-name:splash;
 	-moz-animation-duration:.5s;
 	-moz-animation-timing-function:ease-out;
 	-moz-animation-iteration-count:1;
 	-moz-animation-delay:1s;
	-moz-animation-fill-mode:forwards;
	
	animation-name:splash;
 	animation-duration:.5s;
 	animation-timing-function:ease-out;
 	animation-iteration-count:1;
 	animation-delay:1s;
	animation-fill-mode:forwards;
	z-index:1;	
 }


.wrapSide{
	display:none;
}
.wrapSideHCP {
    display:none;
}
.wrapSideMSD {
    display:none;
}

#splashMainAnimate {
    width: 100%; max-width:320px;
	float: left;
	z-index: 1;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	
    
}

.cycle-slideshow {
    width:100%;
    height:auto;
}

.cycle-slideshow  {
    width:320px;
    height:auto;
}

#productsSpecs li{
    padding-left:20px; line-height:1.5em; list-style-type:none;
	background-image:url(../images/pdf_icon.gif);
	background-repeat:no-repeat;
	background-size:auto;
	text-decoration:none;
    margin-bottom:10px;
}

#productPhotos li{
    padding-left:20px; line-height:1.5em; list-style-type:none;
	background-image:url(../images/pdf_icon.gif);
	background-repeat:no-repeat;
	background-size:auto;
	text-decoration:none;
    margin-bottom:10px;
}

#largeBottleMSDMain {
    background-image:url(../images/mobile_dealer_bottle_large_383pxHeight.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:110px;
	height:200px;
	float:right;
	margin-top:325px;
	margin-right:10px;
}

#footerMSD {
    padding-top:20px;
    font-size:.75em;
}

#footerCon {
    padding-top:20px;
    font-size:.75em;
    background-color:white;
}

#footerHCP {
    padding-top:20px;
    font-size:.75em;
}

.captionMainAnimate {
    display:none;
}

#vertNavHome li {
    display:none;
}
.safetyDS {
    width:280px;
    height:429px;
    margin:20px 0;
    -webkit-box-shadow: 2px 2px 6px 3px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 2px 6px 3px rgba(0,0,0,.7);
    box-shadow: 2px 2px 6px 3px rgba(0,0,0,.7);
}
.barcodes{
	width:280px;
	height:auto;
    text-align: center;
}
fakContainer{
	width:280px;
	height:auto;
	background-color:orange;
}
#firstAidKit{
	background-image:url(../images/mobile_firstAid_Kit_280px.jpg);
	background-repeat:no-repeat;
	width:280px; height:340px;
    -webkit-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.75);
    z-index: 2;
}
.fakItems{
	width:280px;
	background-color:#2cace3;
	list-style-type:none;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
    z-index: 1;
    left:-20px;
    text-align: left;
    display:block;
}
.fakItems li{
    -webkit-box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.5);   
}
.fakItems li{
	width:100%;
	color:white;
	height:30px;
	line-height:30px;
	border-bottom:thin solid #666;
	text-align:center;
	
}
#fakContainer {
    width:280px;
    height:auto;
    margin:0px; padding-left:-20px;
}
