<!--GLOBAL STYLES-->
*{margin:0px; padding:0px;}
html, body {-webkit-text-size-adjust: 100%;}

body{
	background-color:#6d6e71;
	position:relative;
	font-size:100%;
	font-family:"Proxima Nova";
	background-image:url(../images/radial_background.png);
	background-repeat:no-repeat;
}

h1{ font-size:1.6em; margin-top:0px;}
h2{ font-size:1.3em;}
h3{ font-size:1em;}
h5{ font-size:.9em; color: #ef3e25; text-align:center; margin-bottom:0px;}
h6{ font-size:.8em; font-weight:normal;}
p{ font-size:1.3em; line-height:1.5em;}
sub, sup { line-height: 0;}
a:hovered{ color:#ffffff;}
nav.menu ul li a:{ color:#ffffff;}
/*nav.menu ul li a:visited{ color:#6d6e71;}*/
nav.menu ul li a:hover{ color:#ffffff;background-image:url(../images/ripple_button_background.png) no-repeat;}
nav.menu ul li a:active{ color:black; background-image:url(../images/ripple_button_background.png) no-repeat;}


/*.anchor a:hover{ color:#ffffff; }*/
<!-- COLOR STYLE GUIDES -->
<!-- GOLD COLOR = #ffc222 -->
<!-- GREY COLOR = #6d6e71-->
.wrapper{
	width:1400px;
	height:auto;
	background-color:#6d6e71;
	margin:0px auto;
	position:absolute;
}
.desktop_nav{
	display:block;
	float:left;	
}
.rounded_corners_container {
    background-color: white;
    padding: 4%;
	padding-left:100px;
    width: 82%;
	border:thin solid black;
    -webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    float: left;
    margin-left: -10px;
	margin-bottom:30px;
}
div#sb-site.wrapper{
	/*background-color:grey;*/
    height:auto;
}
header{
	width:100%;
	height:220px;
	margin-bottom:30px;
	margin-top:0;
	background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #b6d7ef 0%, #ffffff 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#b6d7ef), color-stop(93%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.stop_ad{
	width:45%;
	height:200px;
	float:left;
	
/*  background-color:#ffffff;*/
	background-image:url(../images/stop_ad_mobile_713px.png);
    background-repeat:no-repeat;
	background-position:50px -10px;
	background-size:55% auto;
	display:block;
	overflow:hidden;

	
}
.go_ad{
	width:55%;
	height:250px;
/*	background-color:#ffffff;*/
	float:left;
	background-image:url(../images/go_ad_mobile_1000px.png);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:80%;
	display:block;
}
nav.menu:nth-child(0){
	display:none;
}
nav.menu{
	width:200px;
	height:100%;
	margin-right:30px;
	margin-left:-30px;
	padding-top:20px;
}
nav{
	width:100%;
	float:left;
}

nav ul{
	/*list-style-image:url(../images/stop_icon_mobile.png);*/
	list-style-type:none;
	padding-left:0px;
}
nav ul li a{
	margin-bottom: 20px;
    margin-left: 0px;
	padding-bottom: 20px;
/*	border-bottom: thin solid #6d6e71;*/
	background-image:url(../images/ripple_button_background.png);
	background-repeat: no-repeat;
	background-position: 0px top;
	padding-right: 5px;
	padding-top: 10px;
    display: block;
    background-size: 95%;
	width:200px;
    height: 20px;
    text-align: center;

/*margin-bottom: 20px;
    margin-left: 0px;
	padding-bottom: 20px;
	background-image:url(../images/ripple_button_background.png);
	background-repeat: no-repeat;
	background-position: 0px top;
    background-size: 95%;
    padding-top: 8px;
	padding-left: 65px;
	display: block;   
	height: 20px;	*/
}

nav ul li a:hover{
	background-image:url(../images/ripple_button_active_background.png);
	background-repeat: no-repeat;
}

nav ul li a:active nav ul li a:visited{
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: thin solid #6d6e71;
	background-repeat: no-repeat;
	background-position: 0px top;
	padding-left: 20px;
	display: block;
	height: 50px;
    text-align: center;
}
nav ul li a{
	/*line-height:14px;*/
	color:#ffffff;
	text-decoration:none;
    text-align: center;
}
nav ul li a:hover{
    color:white;
}
.desktop_articles{
	width:80%;
	margin-left:200px;
}


#go_button{
	width:10%;
	height:30px;
	border-radius:5px;	
}
#showLeftPush{
	display:none;
}
footer{
	height:40px;
	background-color:#0072bb;
	color:#6d6e71;
	line-height:40px;
	font-size:1em;
	padding:10px;
	bottom:0px;
	margin-bottom:0px;
	width:100%;
	clear:both;
}
footer a{
	text-decoration:none;
	color:#6d6e71;	
}
footer a:hover{
	color:#ffffff;	
}
#draft_guidance{
	font-size:.8em;	
}

.chart_titles{
	font-size:1.2em;
}
h5 .chart_titles a{
	text-decoration:none;	
}
ol li{
	margin-bottom:20px;	
}
/*#home{
	background-image:url(../images/stop_icon_mobile.png);
	background-repeat:no-repeat;
	padding-left:20px;	
}
#challenge{
	background-image:url(../images/stop_icon_mobile.png);
	background-repeat:no-repeat;
	padding-left:20px;	
}
#types{
	background-image:url(../images/stop_icon_mobile.png);
	background-repeat:no-repeat;
	padding-left:20px;	
}
#clinical{
	background-image:url(../images/stop_icon_mobile.png);
	background-repeat:no-repeat;
	padding-left:20px;	
}
#opioids{
	background-image:url(../images/stop_icon_mobile.png);
	background-repeat:no-repeat;
	padding-left:20px;	
}
#references{
	background-image:url(../images/stop_icon_mobile.png);
	background-repeat:no-repeat;
	padding-left:20px;	
}*/

/*.pdfcontainer {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
}*/


.goicons{
	margin-bottom: 20px;
    margin-left: 0px;
	padding-bottom: 20px;
	background-image:url(../images/ripple_button_active_background.png);
	background-repeat: no-repeat;
	background-position: 0px top;
    background-size: 95%;
    padding-top: 8px;
	padding-left: 15px;
	display: block;   
	height: 20px;	
}
.activeLink{
    
	background-image:url(../images/ripple_button_active_background.png);
	background-repeat:no-repeat;
	
    background-size: 95%;
    width: 200px;
    height: 20px;
}
.indent{
	margin-left:30px;	
}
#sitemap a{
	text-decoration:none;
	color:black;	
}
#sitemap a:hover{
	color:#ffffff;	
}
#sitemap a:visited{
	color:black;	
}
#copyright{
	color:white;
	line-height:40px;
	width:60%;
    height:40px;
	font-size:.8em;
	font-weight:normal;
	padding: 8px 0px;
}
.manipulation{
	font-size:.9em;
	line-height:1.5em;	
}


.chart_header {
    width:85%;
    margin:0 auto;
    height:25px;
}

sub,sup {
    font-size:9px;
}

.chart_header .tampering {
    float:left;
}

.chart_header .routes {
    float:right;
}

.figcaption {
    display:block;
    width:95%;
    margin:0 auto 0;
}

.figcaption ul{
   list-style-type: none; 
}

#video {
    float:left;
    position:absolute;
    left:50%;
    top:0;
}

#video_container {
    width: 100%; height:200px;
}
#video_header {
    width:50%; font-size:1.2em; line-height:1.3em; text-align:center; font-weight:bold; padding-top:50px; float:left;
}

#video_subhead {
    color:#666; font-weight:bold; text-align: center;
}
#video_large{
	 width:278px; height:163px; line-height:300px; margin-left:53%;
}



#logo img {
    float:left;
    padding-left:10px; margin-right:30px;
    line-height: 40px;
    width:90% height:auto;
}



#pdfcontainer {
    height:600px; width:95%;
}
