@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-regular.eot');
	src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proximanova-regular.woff') format('woff'),
		url('../fonts/proximanova-regular.svg') format('svg');
}