<!--GLOBAL STYLES-->
*{margin:0px; padding:0px;}
html, body {-webkit-text-size-adjust: 100%;}

body{
	background-color:#CCCCCC;
	position:relative;
	font-size:100%;
	font-family:"Proxima Nova";
}
h1{  font-size:1.3em; line-height:1.6em;}
h2{ font-size:1.4em;}
h5{ font-size:.9em; color: #ef3e25; text-align:center; margin-bottom:0px;}
h6{ font-size:.9em; font-weight:normal;}
p{ font-size:1.3em; line-height:1.6em;}
sub, sup { line-height: 0; }
a:hovered{ color:#ffffff;}
nav.menu ul li a:{ color:#ffffff;}

/*a:visited{ color:#ffffff;}*/
.activeLink{ border-bottom:1px solid #ffffff; color:white; display: block; padding-bottom:10px;}

.anchor a{ font-size:.8em; color:#6d6e71; font-weight:lighter;}

/*.anchor a:hover{ color:#ffffff; }*/
<!-- COLOR STYLE GUIDES -->
<!-- GOLD COLOR = #ffc222 -->
<!-- GREEN COLOR = #ffffff-->
<!-- GREY COLOR = #6d6e71-->



.wrapper{
	width:100%;
	height:auto;
	background-color:white;
	margin:0px auto;
	position:absolute;	
}
.desktop_nav{
	display:none;	
}
.rounded_corners_container{
	background-color:white;
	padding:10px;
}
header{
	width:100%;
	height:150px;
	margin-top:0;
	margin-bottom:
	display:block;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #b6d7ef 0%, #ffffff 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#b6d7ef), color-stop(93%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.stop_ad{
	width:45%;
	height:150px;
	float:left;
/*	background-color:#000000;*/
	overflow:hidden;
	background-image:url(../images/stop_ad_mobile_200px.png);
	background-repeat:no-repeat;
	background-position:20px -10px;
	background-size:70% auto;
}
.go_ad{
	width:55%;
	height:150px;
/*	background-color:#ffc222;*/
	float:left;
	display:block;
	background-image:url(../images/go_ad_mobile_600px.png);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:80% auto;
}
nav.menu{
	left:-300px;
	float:left;	
}
nav{
	width:70%;
	float:left;
}

nav ul{
	/*list-style-image:url(../images/stop_icon_mobile.png);*/
	list-style-type:none;
	padding-left:0px;
}
nav ul li{
	margin-bottom:15px;
	padding-bottom:15px;
}
nav ul li a{
	line-height:14px;
	color:white;
	text-decoration:none;
}

/* CHART IMAGES */
#abuseDependenceChart{
	width:100%;
	height:380px;
	display:block;
	background-image:url(../images/abuseDependenceRatesChart_800px.png);
	background-repeat:no-repeat;
	background-size:70%;
	background-position:center;
}
#tamperingChart{
	width:100%;
	height:250px;
	display:block;
	background-image:url(../images/TamperingChart_700px.png);
	background-repeat:no-repeat;
	background-size:80%;
	background-position:center;	
}
#sourcesAbuseChart{
	width:100%;
	height:370px;
	display:block;
	background-image:url(../images/sourcesOfAbuseChart_800px.png);
	background-repeat:no-repeat;
	background-size:95%;
	background-position:center;	
}
#opioidFormulationsChart{
	width:100%;
	height:380px;
	display:block;
	background-image:url(../images/opioidFormulationsChart_800px.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;		
}
#fdaCategoriesChart{
	width:100%;
	height:380px;
	display:block;
	background-image:url(../images/fdaCategoriesChart_800px.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center;		
}
#fourTiers{
	list-style-type:none;
	padding:0px; margin:0px;
	width:100%;	
	height:500px;
	margin-bottom:150px;
}


#tier1{
	width:100%;
	height:150px;
	display:block;
	background-image:url(../images/tier1.png);
	background-repeat:no-repeat;
	background-size:40%;
	background-position:center;
}

#tier2{
	width:100%;
	height:150px;
	display:block;
	background-image:url(../images/tier2.png);
	background-repeat:no-repeat;
	background-size:40%;
	background-position:center;
}
#tier3{
	width:100%;
	height:150px;
	display:block;
	background-image:url(../images/tier3.png);
	background-repeat:no-repeat;
	background-size:40%;
	background-position:center;
}
#tier4{
	width:100%;
	height:150px;
	display:block;
	background-image:url(../images/tier4.png);
	background-repeat:no-repeat;
	background-size:40%;
	background-position:center;
}
#tier4 img{
	width:100%;
	height:auto;	
}
.dropdown_menu select{
	width:75%;
	height:30px;
	margin-right:10px;
}
#go_button{
	width:20%;
	height:30px;
	border-radius:5px;	
}
#showLeftPush{
	background-image:url(../images/bullets-green.png);
	background-repeat: no-repeat;
	display:block;
	/*-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);*/
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width:44px;
	height:40px;
	cursor:pointer;
	margin-bottom:5px;
	clear:both;
    padding-bottom: 10px;
}
footer{
	height:auto;
	background-color:#0072BB;
	color:#6d6e71;
	line-height:30px;
	font-size:1em;
	padding:10px;
	bottom:0px;
	margin-bottom:0px;
	width:100%;
}
footer a{
	text-decoration:none;
	color:#6d6e71;	
}
footer a:hover{
	color:#ffffff;	
}
.chart_titles{
	font-size:1.5em;	
}
ol li{
	margin-bottom:20px;	
}
.indent{
	margin-left:20px;	
}
#sitemap a{
	text-decoration:none;
	color:black;	
}
#sitemap a:hover{
	color:#ffffff;	
}
#sitemap a:visited{
	color:black;	
}
#copyright{
	color:white;
	line-height:1.3em;
	width:100%;
	font-weight:normal;
	font-size:.9em;
}


.chart_header {
    width:80%;
    margin:0 auto;
}

sub,sup {
    font-size:9px;
}

.chart_header .tampering {
    float:left;
}

.chart_header .routes {
    float:right;
}

.figcaption {
    display:block;
    width:93%;
    margin:0 auto;
}

.figcaption ul{
   list-style-type: none; 
}
#video_header {
     width:100%; font-size:1.3em; line-height:1.4em; text-align:center; font-weight:bold; margin-bottom:0px; padding:0px;
    font-family: 
}
#video_subhead {
     width:100%; font-size:.9em; line-height:1.3em; text-align:center; font-weight:bold; margin-bottom:0px; padding:0px; color:#666; margin-bottom:10px; 
}

#video {
    text-align: center;
    width:100%; height:auto;
}

#pdfcontainer {
    height:600px; width:100%;
}
