<!--GLOBAL STYLES-->
*{margin:0px; padding:0px;}

html, body {-webkit-text-size-adjust: 100%;}

body{
	background-color:#CCCCCC;
	position:relative;
	font-size:100%;
	font-family:"Proxima Nova";
}
h1{ font-size:1.2em; line-height:1.6em;}
h2{ font-size:1.1em;}
h5{ font-size:.9em; color: #ef3e25; text-align:center; margin-bottom:0px;}
h6{ font-size:.9em; font-weight:normal;}
p{ font-size:1em; line-height:1.5em;}
sub, sup { line-height: 0; }
a:hovered{ color:#ffffff;}
nav.menu ul li a:{ color:#ffffff;}
/*nav.menu ul li a:visited{ color:#6d6e71;}*/
nav.menu ul li a:active{ color:#6d6e71;}
/*a:visited{ color:#ffffff;}*/
.activeLink{ border-bottom:1px solid #ffffff; color:white; display: block; padding-bottom:10px;}

.anchor a{ font-size:.8em; color:#6d6e71; font-weight:lighter;}
.anchor a:visited{ font-size:.8em; color:#6d6e71;font-weight:lighter;}
/*.anchor a:hover{ color:#ffffff; }*/
<!-- COLOR STYLE GUIDES -->
<!-- GOLD COLOR = #ffc222 -->
<!-- GREEN COLOR = #ffffff-->
<!-- GREY COLOR = #6d6e71-->



.wrapper{
	width:100%;
	height:auto;
	background-color:white;
	margin:0px auto;
	position:absolute;	
}
.desktop_nav{
	display:none;	
}
.rounded_corners_container{
	background-color:white;
	padding:5px;
}
header{
	width:100%;
	height:110px;
	margin-top:0;
	display:block;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #b6d7ef 0%, #ffffff 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#b6d7ef), color-stop(93%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#b6d7ef 0%,#ffffff 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.stop_ad{
	width:45%;
	height:110px;
	float:left;
/*	background-color:#000000;*/
	display:block;
	background-image:url(../images/stop_ad_mobile_200px.png);
	background-repeat:no-repeat;
	background-position:10px -10px;
	background-size:90% auto;
}
/*.stop_ad img{
	width:90%;
	height:auto;
	background-color:transparent;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	display:block;
	border:none;
}*/
.go_ad{
	width:55%;
	height:110px;
/*	background-color:#ffc222;*/
	float:left;
	display:block;
	background-image:url(../images/go_ad_mobile_600px.png);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:90% auto;
}
/*.go_ad img{
	width:90%;
	height:auto;
	background-color:transparent;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	display:block;
	border:none;
}*/
nav.menu{
	left:-300px;
	float:left;	
}
nav{
	width:70%;
	float:left;
}

nav ul{
	/*list-style-image:url(../images/stop_icon_mobile.png);*/
	list-style-type:none;
	padding-left:0px;
}
nav ul li{
	margin-bottom:10px;
	padding-bottom:10px;
	/*border-bottom:thin solid #6d6e71;*/
}
nav ul li a:hover{
/*
	margin-bottom:10px;
	padding-bottom:10px;
*/
	/*border-bottom:thin solid #6d6e71;*/
}
nav ul li a{
	line-height:14px;
	color:white;
	text-decoration:none;
    font-size:.8em;
}

/* CHART IMAGES */
#abuseDependenceChart{
	width:100%;
	height:220px;
	display:block;
	background-image:url(../images/abuseDependenceRatesChart_600px.png);
	background-repeat:no-repeat;
	background-size:80%;
	background-position:center;
}
#tamperingChart{
	width:100%;
	height:170px;
	display:block;
	background-image:url(../images/TamperingChart_600px.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;	
}
#sourcesAbuseChart{
	width:100%;
	height:240px;
	display:block;
	background-image:url(../images/sourcesOfAbuseChart_600px.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;	
}
#opioidFormulationsChart{
	width:100%;
	height:220px;
	display:block;
	background-image:url(../images/opioidFormulationsChart_mobile.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;		
}
#fdaCategoriesChart{
	width:100%;
	height:250px;
	display:block;
	background-image:url(../images/fdaCategoriesChart_mobile.png);
	background-repeat:no-repeat;
	background-size:95%;
	background-position:center;		
}
#fourTiers{
	list-style-type:none;
	padding:0px; margin:0px;
	width:100%;	
	height:auto;
}
#fourTiers li{
	margin:10px 0px;
	margin-right:auto;
	margin-left:auto;
	width:80%;
	display:block;
}

#tier1{
	width:100%;
	height:200px;
	display:block;
	background-image:url(../images/tier1.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;
}
#tier2{
	width:100%;
	height:200px;
	display:block;
	background-image:url(../images/tier2.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;
}
#tier3{
	width:100%;
	height:200px;
	display:block;
	background-image:url(../images/tier3.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;
}
#tier4{
	width:100%;
	height:200px;
	display:block;
	background-image:url(../images/tier4.png);
	background-repeat:no-repeat;
	background-size:99%;
	background-position:center;
}
.dropdown_menu select{
	width:75%;
	height:30px;
	margin-right:10px;
}
#go_button{
	width:20%;
	height:30px;
	border-radius:5px;	
}
#showLeftPush{
	background-image:url(../images/bullets-green.png);
	background-repeat: no-repeat;
	display:block;
	/*-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);*/
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width:44px;
	height:40px;
	cursor:pointer;
	margin-bottom:5px;
	clear:both;
    padding-bottom: 10px;
}
footer{
	height:auto;
	background-color:#0072BB;
	color:#6d6e71;
	line-height:30px;
	font-size:.7em;
	padding:10px;
	bottom:0px;
	margin-bottom:0px;
	width:100%;
}
footer a{
	text-decoration:none;
	color:#6d6e71;	
}
footer a:hover{
	color:#ffffff;	
}

.chart_titles{
	font-size:1.1em;	
}ol li{
	margin-bottom:20px;	
}
.indent{
	margin-left:20px;	
}
#sitemap a{
	text-decoration:none;
	color:black;	
}
#sitemap a:hover{
	color:#ffffff;	
}
#sitemap a:visited{
	color:black;	
}
#copyright{
	color:white;
	line-height:1.3em;
	width:98%;
	font-weight:normal;
	font-size:.8em;
}
#interest{
	font-size:.9em;	
}

.chart_header {
    width:80%;
    margin:10px auto -5px;
}

sub,sup {
    font-size:6px;
}

.chart_header .tampering {
    float:left;
    font-size:7px;
}

.chart_header .routes {
    float:right;
    font-size:7px;
}

.figcaption {
    display:block;
    width:100%;
    margin:0px 0px 0px -40px;
    font-size:.5em;
}

.figcaption ul{
   list-style-type: none; 
}

#video_header {
    width:100%; font-size:1em; line-height:1.3em; text-align:center; font-weight:bold; margin-bottom:0px; padding:0px;
}

#video_subhead {
    width:100%; font-size:.9em; line-height:1.3em; text-align:center; font-weight:bold; margin-bottom:0px; padding:0px; color:#666; margin-bottom:10px;
}



#video {
    text-align: center;
    width:100%; height:auto;
}

#pdfcontainer {
    height:420px; width:100%;
}

nav ul {
   width:115px; 
}
